.i18-container{
    box-shadow:2px 1px 5px 1px rgb(248, 59, 81);
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: rgb(248, 202, 207);
}
.select-box{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color:rgb(2, 2, 94);

}
.lang-text{
    font-size: 20px;
}
.title-i18n{
    text-align: center;
    font-size: 25px;
    background-color:rgb(251, 86, 113);
    width: 600px;
    padding: 20px;
    margin:20px auto;
    border-radius: 20px;
}
.text-center{
    text-align: center;
}